@import vendor
@import base
@import modules
@import partials

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, input[type=submit], input[type=button]
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline

$clMain: #b1003a

html
    font-size: 62.5%
body
    // background: #000
    line-height: 160%
    font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", sans-serif
    font-size: 1.4rem
    -webkit-text-size-adjust: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    -webkit-touch-callout: none
    -webkit-user-select:none

.wrapper
    width: 850px
    background: #fff
    margin: 0 auto
    // border-radius: 10px
    // padding: 10px
    margin-top: 10px
    margin-bottom: 10px
    padding: 10px


.header
    margin-bottom: 10px

.keyvisual
    background: #333
    margin-bottom: 10px
    border-radius: 10px


.body
    +box-sizing(border-box)
    margin-bottom: 10px

.sideBar
    margin-bottom: 10px
    &_content
        +box-sizing(border-box)
        width: 90%
        margin-left: 10%
        background: #fcd5e2
        padding: 10px
        border-radius: 10px
.footer
    text-align: right


.container
    margin-bottom: 20px
    &_ttl
        border-top: 1px solid #CCC
        border-right: 10px solid #CCC
        border-bottom: 1px solid #CCC
        border-left: 30px double #CCC
        padding:  5px 5px 5px 15px
        background:  #666
        background:  -moz-linear-gradient(top,  #F00,  #C00) /* FireFox */
        background:  -webkit-gradient(linear, left top, left bottom, from(#F00), to(#C00))/* Chrome & Safari */
        border-radius:  7px
        -moz-border-radius:  7px /* FireFox */
        -webkit-border-radius:  7px/* Chrome & Safari */
        font-size: 140%
        color: #DDD
        margin-bottom: 10px
    // &_ttl
    //     +box-sizing(border-box)
    //     position: relative
    //     background: $clMain
    //     font-size: 1.6rem
    //     padding: 5px 10px
    //     border-radius: 5px
    //     color: #fff
    //     margin-bottom: 10px

    //     &:before
    //         content: "<"
    //         position: absolute
    //         top: 2px
    //         left: -10px
    //         width: 0
    //         height: 0
    //         font-size: 25px
    //         line-height: 1.0
    //         color: #c96
    //     &:after
    //         content: " "
    //         position: absolute
    //         top: -2px
    //         left: -10px
    //         width: 0
    //         height: 100%
    //         border: #600 solid 2px
    //         border-radius: 2px
    //         transform: rotate(-2deg)

.business
    margin-bottom: 20px
    &_ttl
        color: $clMain
        font-size: 1.6rem
        border-bottom: 1px #666 solid
        margin-bottom: 10px
    &_right
        padding-left: 10px

.info
    margin-bottom: 10px
    &_ttl
        color: $clMain
        font-size: 1.6rem
        border-bottom: 1px #666 solid
        margin-bottom: 10px


// スマホ用処理
@media screen and (max-width:620px)
    .wrapper
        width: auto
    .body
        width: 100%
    .sideBar
        width: 100%
        &_content
            width: 100%
            margin-left: 0%
